NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_RWA_CORE_PROGRAM_ID=9ZQBB6PWDiBeHbhKZBEyC5wr6C23ohFwrMAw3ugstG8A
NEXT_PUBLIC_COMPLIANCE_HOOK_PROGRAM_ID=D9yfcXGzFWLtyfKXapXxKcBFfDwGJfW7i717bM5YrnSh
